body{
	text-align: center;
	background-color: #c4a258;
}

h1{
	font-family: Verdana;
	color: #7d6633;
}
h3{
	font-family: Verdana;
	color: #7d6633;
}

img{
	width: 100%;
	height: auto;
	max-width: 300px;

 .submit-button {
			background-color: #9e7723;
			color: white;
			padding: 10px 20px;
			text-align: center;
			display: inline-block;
			size: 50px;
		}